NEXT_PUBLIC_AVATAR_URL=
# If empty, uses /public/images/profile.png

NEXT_PUBLIC_CLOUDINARY_URL=

RESEND_API_KEY=re_xxxxxxxxxxxx
CONTACT_EMAIL=sanchanaamarasinghe@gmail.com
RESEND_FROM=Portfolio <onboarding@resend.dev>

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=yourpassword
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

GITHUB_USERNAME=chathumiamarasinghe
GITHUB_TOKEN=

MEDIUM_USERNAME=chathumiamarasinghe

ANTHROPIC_API_KEY=sk-ant-api03-xxxxxxxxxxxx
